NODE_ENV=development # development, production
APP_PORT=5000
APP_VER=v1

# Auth
JWT_SECRET_KEY=secret # Generate from OpenSSL
JWT_EXPIRES=5m # 30s, 5m, 7d, 24h
BCRYPT_ROUND=10

# Postgres
PG_USER=median
PG_PASS=median
PG_PORT=5432
PG_HOST=localhost
PG_DBNAME=median

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema
DATABASE_URL="postgresql://${PG_USER}:${PG_PASS}@${PG_HOST}:${PG_PORT}/${PG_DBNAME}?schema=public"